@import "./base.css";

@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(//fonts.googleapis.com/earlyaccess/notosanssc.css);

.banner-img{
    text-align: right;
    img{
        // object-fit: cover;
        width: 100% !important;
    }
}

.banner-content{
    margin-left: auto;
}

.logo-img{
    width: 150px;
}