@import "./base.css";

@import url('https://fonts.googleapis.com/css?family=Nunito');

body{
    font-family: "Noto Serif Display", serif !important;
}

.banner-img{
    text-align: right;
    img{
        object-fit: cover;
        object-position: left bottom;
        width: 100% !important;
    }

    @media(max-width: 768px){
        margin-bottom: 50px;
    }
}

.banner-area{
    padding-top: 0;
    background-color: hsl(195, 100%, 86%);
    background: url('/assets/img/banner-image.webp');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.banner-content{
    margin-left: 0;
    color: #fff;

    p{
        color: #fff;
    }

    @media(max-width: 768px){
        text-align: center;
        margin: 0 auto;
        padding: 0 15px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
}

.accordion-title{
    padding: 15px 20px 15px 50px !important;
}

.logo-img{
    width: 150px;
}

.inner-title.property-banner{
    padding-top: 300px;
    padding-bottom: 250px;
}

.muhotel-text{
    color: #4A3728;
}